div.ips {
    margin: 5px;
    float: left;
    width: 196.667px;
    height: 306.667px;
    background-size: 100% 100%;
    border-radius: 13px;
}

div.ils {
    margin: 5px;
    float: left;
    height: 196.667px;
    width: 306.667px;
    background-size: 100% 100%;
    border-radius: 13px;
}

div.ipm {
    margin: 5px;
    float: left;
    height: 585px;
    width: 390px;
    background-size: 100% 100%;
    border-radius: 13px;
}

div.ilm {
    margin: 5px;
    float: left;
    width: 585px;
    height: 390px;
    background-size: 100% 100%;
    border-radius: 13px;
}

div.ipl {
    margin: 5px;
    float: left;
    height: 585px;
    width: 390px;
    background-size: 100% 100%;
    border-radius: 13px;
}

div.ill {
    margin: 5px;
    float: left;
    width: 585px;
    height: 390px;
    background-size: 100% 100%;
    border-radius: 13px;
}

div.ipx {
    margin: 5px;
    float: left;
    height: 585px;
    width: 390px;
    background-size: 100% 100%;
    border-radius: 13px;
}

div.ilx {
    margin: 5px;
    float: left;
    width: 585px;
    height: 390px;
    background-size: 100% 100%;
    border-radius: 13px;
}

div.clear {
    clear: both
}

img.popup {
    margin: 5px;
    width: auto;
    height: 900px;
    border-radius: 18px;
}